<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://maba.blog/wp-content/uploads/2019/05/Top-3-Bars-%C3%A0-cocktails-MABA-Blog.png">
  <div class="container">
    <h1>Mr. Cock-Tail</h1>
    <p>You'll find here all your favorites cocktails</p>
    <div class="create-new btn btn-primary mx-5 my-3">
      <%= link_to 'Create a new Cocktail', new_cocktail_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <li class="list-unstyled col-sm-12 col-md-3">
          <div class="card-category mx-5 my-3 " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.url %>)">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <div class="delete">
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,  { action: :destroy, id: cocktail.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="edit">
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_cocktail_path(cocktail) %>
            </div>
          </div>
        </li>
      <% end %>
  </div>
</div>

